
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: #F7F9F7;
  margin: 0;
}
#bg-white {
  background: white;
  display: block;
  margin-right: 10%;
  margin-left: 10%;
  height: 2000px;
}
nav {
  background: linear-gradient(to top,#0B3954,#135e8a);
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  padding: 1px;
}
#portnav {
  text-align: center;
  padding: 0px;
}
#portnav a {
  color: white;
  text-decoration: none;
}
#portnav a:hover {
  color: #FF5A5F;
}
#portnav a:active {
  color: white;
}
footer {
  background: linear-gradient(to top,#0B3954,#135e8a);
  height: 200px;
}
#logo2 {
  color: white;
  display: inline-block;
  font-family: futura;
  font-size: 120px;
  margin-left: 3%;
  margin-top: 1.7%;
}
.list {
  display: inline;
  list-style-type: '';
  margin: 55px;
}
.list:hover {
  color: #FF5A5F;
}
.list:active {
  color: white;
}
@media screen and (max-width: 480px) {
  #bg-white {
    margin-left: 0;
    margin-right: 0;
  }
}
